/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  background-image: url(images/bg-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  position: fixed;
  background-color: #f6ffde;
  width: 100vw;
  z-index: 999;
}
.navbar {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
.navbar-title {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.ul-navbar {
  display: flex;
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  gap: 30px;
  font-size: 18px;
  font-weight: 600;
}
.ul-navbar .li-navbar .a-navbar {
  color: black;
}
.li-navbar .a-navbar {
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.5s;
}
.li-navbar .a-navbar:hover {
  background-color: #c9dbb2;
}
.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 15px;
}
.button-sign-up {
  padding: 10px 35px;
  border-radius: 20px;
  background-color: white;
}
.button-sign-up:hover {
  background-color: #a4907c;
}
.a-button-sign-up {
  color: black;
}
.a-button-sign-up:active {
  color: white;
}
.a-button-sign-up:hover {
  color: white;
}
.menu-toogle{
  
  width: auto;
  height: 20px;
 cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-toogle span{
  display: none;
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #000000;
  transition: all 0.5s;
}
.span-1{
  transform-origin: 0 0;
}
.span-3{
  transform-origin: 0 100%;
}
.span-1-active{
  transform: rotate(45deg) translate(-1px,-1px);
}
.span-2-active{
  transform: scale(0);
  opacity: 0;
}
.span-3-active{
  transform: rotate(-45deg) translate(-1px, 0);
}
/* jumbotron-1 */
#jumbotron-1 {
  /* background-image: url(images/3.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* width: 100vw; */
}
.hero {
  display: flex;
  padding: 100px 100px 0 100px;
  align-items: center;
}

.text-1-hero {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  align-items: center;
  padding: 8px 8px;
  width: 120px;
  border-radius: 30px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.title-hero {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 70px 0 40px 0;
}

#text-food-animation {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
.p-hero {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.image-hero {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #5f8d4e;
  padding: 5px;
}
.image-down-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-down {
  cursor: pointer;
  width: 60px;
  height: 60px;
  object-fit: cover;

  border-radius: 50%;
}
.button-hero {
  padding-top: 50px;
}
.button-order-now {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #84b74f;
  border: 0;
  transition: 0.5s;
}
.button-order-now:hover {
  transform: scale(1.1);
}

.button-explore {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: #f9fbfc;
}
.button-explore:hover {
  background-color: rgb(214, 213, 213);
}
.image-down-1-active {
  border: 2px solid black;
}
/* card-1 */

.jumbotron-2 {
  padding-top: 50px;
}
.container-card-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-1 {
  width: 260px;
  height: 400px;
  border-radius: 20px;
}
.isi-card-1 {
  width: 250px;
  height: 280px;
  background-color: #f9fbfc;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px rgb(182, 182, 182);
  padding: 5px;
  z-index: 3;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-110px);
}
.isi-card-1:hover{
    background-color: #f0efef;

}
.div-img-card-1 {
  justify-content: center;
  display: flex;
  align-items: center;
}
.img-card-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 4;
  transition: all 0.5s;
}
.img-card-1:hover {
  transform: translateY(-20px);
}
.h1-card-1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding: 0 0 10px 0;
  text-transform: capitalize;
  padding-top: 100px;
}
.p-card-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 5px 0 15px 0;
}
.button-card-1 {
  padding: 15px 0 15px 0;
}
.harga-card-1 {
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}
.harga-card-1:hover {
  background-color: rgb(214, 213, 213);
}
.buy-now-card-1 {
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-color: #84b84d;
  transition: 0.5s;
  cursor: pointer;
}
.buy-now-card-1:hover {
  transform: scale(1.2);
}
.buy-now-card-1 a {
  text-decoration: none;
  color: black;
}

/* jumbotron-3 */

.container-jumbotron-3 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-jumbotron-3 .title-jumbotron-3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.container-jumbotron-3 .p-jumbotron-3 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}
.container-card-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.card-2 {
  width: 300px;
  height: 210px;
  background-color: #f9fbfc;
  border-radius: 10px;
  padding: 30px;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
}

.logo-card-2 .fa-salad,
.fa-badge-check,
.fa-truck-fast {
  font-size: 50px;
  color: #8ab065;
}
.h2-card-2 {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  padding-top: 20px;
}
.p-card-2 {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 5px;
}
.card-2:hover {
  transform: translateY(-20px);
}

/* jumbotron-4 */
.jumbotron-4 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.header-jumbotron-4 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.header-jumbotron-4 .title-jumbotron-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.header-jumbotron-4 .p-jumbotron-4 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}
/* jumbotron-4 card-3 */
.container-card-3 {
  max-width: 1020px;
  width: 100%;
}
.slide-content-card-3 {
  padding-bottom: 35px;
  margin: 0 60px;
  overflow: hidden;
}
.card-3 {
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background-color:#868686 ; */
  background-color: #f9fbfc;
  border: 1px solid grey;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(185, 185, 185);
}
.card-3 .image-content-card-3 {
  width: 180px;
  height: 180px;
  margin: 15px 40px;
}
.card-3 .image-content-card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name-food-card-3 {
  margin: 0 20px;
}
.name-food-card-3 .h3-card-3 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
.logo-star-card-3 {
  display: flex;
  margin: 10px 20px;
}
.logo-star-card-3 .fa-star {
  font-size: 20px;
  color: #fbd85d;
}
.logo-star-card-3 .p-card-3 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.price-card-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h2-card-3 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  margin: 0 20px;
}

.fa-bag-shopping {
  font-size: 30px;
  padding: 40px 35px;
  background-color: #84b74f;
  border-radius: 10px 10px 25px 10px;
  color: white;
}

/* jumbotron-5 */
.jumbotron-5 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-jumbotron-5 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.header-jumbotron-5 .title-jumbotron-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.header-jumbotron-5 .p-jumbotron-5 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}

/* card-4 */

.container-pizza {
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.slide-content-pizza {
  margin: 0 60px;
  overflow: hidden;
  padding-bottom: 35px;
}
.card-4 {
  width: 270px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background-color:#868686 ; */
  background-color: #f9fbfc;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px 2px rgb(185, 185, 185);
}
.card-4 .image-content-card-4 {
  width: 220px;
  height: 220px;
}
.img-card-4 {
  height: 100%;
  width: 100%;
  margin: 0 20px;
}
.h2-card-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}
.logo-star-card-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.logo-star-card-4 .fa-star {
  font-size: 20px;
  color: #fbd85d;
}
.h3-card-4 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.p-card-4 {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.button-card-4 {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.button-price-card-4 {
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f9fbfc;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.button-price-card-4:hover {
  background-color: rgb(214, 213, 213);
}
.button-order-now-card-4 {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  background-color: #84b74f;
  transition: 0.5s;
}
.button-order-now-card-4:hover {
  transform: scale(1.1);
}

/* jumbotron-6 */
.jumbotron-6 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-jumbotron-6 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.header-jumbotron-6 .title-jumbotron-6 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.header-jumbotron-6 .p-jumbotron-6 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}

/* card-5 */

.container-burger {
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.slide-content-burger {
  margin: 0 60px;
  overflow: hidden;
  padding-bottom: 35px;
}
.card-5 {
  width: 270px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background-color:#868686 ; */
  background-color: #f9fbfc;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px 2px rgb(185, 185, 185);
}
.card-5 .image-content-card-5 {
  width: 220px;
  height: 220px;
}
.img-card-5 {
  height: 100%;
  width: 100%;
  margin: 0 20px;
}
.h2-card-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}
.logo-star-card-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.logo-star-card-5 .fa-star {
  font-size: 20px;
  color: #fbd85d;
}
.h3-card-5 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.p-card-5 {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.button-card-5 {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.button-price-card-5 {
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f9fbfc;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.button-price-card-5:hover {
  background-color: rgb(214, 213, 213);
}
.button-order-now-card-5 {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  background-color: #84b74f;
  transition: 0.5s;
}
.button-order-now-card-5:hover {
  transform: scale(1.1);
}

/* jumbotron-7 */
.jumbotron-7 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-jumbotron-7 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.header-jumbotron-7 .title-jumbotron-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.header-jumbotron-7 .p-jumbotron-7 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}
/* card-6 */

.container-salad {
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
}
.slide-content-salad {
  margin: 0 60px;
  overflow: hidden;
  padding-bottom: 35px;
}
.card-6 {
  width: 270px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background-color:#868686 ; */
  background-color: #f9fbfc;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px 2px rgb(185, 185, 185);
}
.card-6 .image-content-card-6 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.img-card-6 {
  height: 100%;
  width: 100%;
  margin: 5px 5px 30px 30px;
  object-fit: cover;
}
.h2-card-6 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}
.logo-star-card-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.logo-star-card-6 .fa-star {
  font-size: 20px;
  color: #fbd85d;
}
.h3-card-6 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.p-card-6 {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.button-card-6 {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.button-price-card-6 {
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f9fbfc;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.button-price-card-6:hover {
  background-color: rgb(214, 213, 213);
}
.button-order-now-card-6 {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  background-color: #84b74f;
  transition: 0.5s;
}
.button-order-now-card-6:hover {
  transform: scale(1.1);
}

/* jumbotron 8 */

.jumbotron-8 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-jumbotron-8 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.header-jumbotron-8 .title-jumbotron-8 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.header-jumbotron-8 .p-jumbotron-8 {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}
/* cheff */
.cheff-special {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.cheff-1,
.cheff-3 {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: #e6f1d9;
}
.img-cheff-1,
.img-cheff-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cheff-2 {
  transform: translateY(70px);
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background-color: #e6f1d9;
}
.img-cheff-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
.footer {
  padding-top: 200px;
}
.container-footer {
  padding: 50px;
  display: flex;
  background-color: #e6f1d9;
  justify-content: space-evenly;
}
.menu .h1-footer-1 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
.menu .p-footer-1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding-top: 10px;
}
.library .h1-footer-2 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
.library .p-footer-2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding-top: 10px;
}
.contact .h1-footer-3 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
.contact .p-footer-3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding-top: 10px;
}
.name-developer {
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  align-items: center;
}
/* responsive */
@media screen and (max-width:768px){
  .ul-navbar{
    display: none;
  }
  .menu-toogle span{
    display: block;
  }
  .hero{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .title-hero ,#text-food-animation{
    font-size: 25px;
  }
  .p-hero{
    font-size: 10px;
  }
  .button-hero{
    flex-wrap: wrap;
   
  }
  .button-hero .button-order-now{
    margin-bottom: 20px;
    font-size: 16px;
  }
  .button-hero .button-explore{
    font-size: 16px;
  }
  .image-hero{
    width: 200px;
    height: 200px;
  }
  .text-1-hero{
    display: none;
  }
  .jumbotron-2{
    padding-top: 0;
  }
  .container-card-1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .card-1{
    width: 220px;
    height: 380px;
  }
  .isi-card-1{
    width: 220px;
    height: 230px;
  }
  .img-card-1{
    width: 150px;
    height: 150px;
    transform: translateY(-30px);
  }
  .h1-card-1{
    padding-top: 80px;
  }
  .p-card-1{
    font-size: 10px;
  }

 .container-jumbotron-3 .title-jumbotron-3{
  font-size: 30px;
}
.container-jumbotron-3 .p-jumbotron-3{
  font-size: 12px;
  padding: 10px 40px;
}
  .container-card-2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card-2{
    width: 270px;
    height: 180px;
  }
  .logo-card-2 .fa-salad,
.fa-badge-check,
.fa-truck-fast {
  font-size: 40px;
  color: #8ab065;
}
.h2-card-2{
  font-size: 20px;
}
.p-card-2{
  font-size: 10px;
}
.header-jumbotron-4 .title-jumbotron-4{
  font-size: 30px;
}
.header-jumbotron-4 .p-jumbotron-4{
  font-size: 12px;
  padding: 5px 40px;
}
.card-3 .image-content-card-3 {
  width: 150px;
  height: 150px;
  margin: 15px 30px;
}
.name-food-card-3 .h3-card-3 {
  font-size: 18px;
}
.logo-star-card-3 .fa-star {
  font-size: 18px;
}
.logo-star-card-3 .p-card-3 {
  font-size: 16px;
}
.h2-card-3{
  font-size: 20px;
}
.fa-bag-shopping{
  font-size: 25px;
  padding: 30px 20px;
}
  .cheff-special{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer{
    display: none;
  }
}